.header {
  width: 100%;
  position: fixed;
  padding: 0 0.5rem;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 100;

  &__btn {
    display: none;
    font-family: 'Qanelas';
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    background-color: #ffcd02;
    border: none;
    border-radius: 5px;
    margin-top: 0.5rem;
    padding: 0.8rem 1.5rem;
  }
}

.weather {
  display: none;
  height: 50px;
  margin-top: -10px;
  pointer-events: none;
  transform: scale(0.6);
  width: 240px;
}

.logo {
  max-height: 45px;
  height: 100%;
  object-fit: cover;
  margin: 0.5rem;
}

.headline {
  font-family: 'Comfortaa';
  font-weight: 700;
  font-size: 14px;
  color: #000;
}

#brand {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav {
  background-color: #fff;
}

#navbar-toggle {
  border: #fff;
}

#navbar {
  background-color: #fff;
}

#navbar-dafault {
  background-color: #fff;
}

#navbar-toggle {
  background-color: #fff;

  &:hover {
    background-color: #fff;
  }
}

@media (min-width: 768px) {
  .weather {
    display: block;
  }
}

@media (min-width: 1024px) {
  .header {
    &__btn {
      display: block;
    }
  }
}
