.headline{
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 35px;
}

.bg-black{
    color: #fff;
    background-color: #000;
}

.photo-wrapper{
    max-width: 416px;
    height: 513px;
    background-color: #000;
}

.photo{
    object-position: -43px 0;
    object-fit: cover;
    max-width: 416px;
    width: auto;
    max-height: 459px;
    height: 100%;
}

.section-1__about-course{
    font-family: 'Roboto Bold';
}