.headline{
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 35px;
}

.bg-black{
    color: #fff;
    background-color: #000;
}

.photo-wrapper{
    max-width: 416px;
    max-height: 513px;
    background-color: #000;
}