.section3{
  display: flex;
  flex-direction: column;
}

.section3-wrapper{
  display: flex;
  flex-direction: column;
}

.photo-wrapper {
  max-width: 275px;
  height: auto;
  width: 100%;
  margin: 0 auto 18px;
  margin-left: 0;
}

.photo {
  object-fit: cover;
  height: auto;
  margin: 0 20px;
}

.slider-section3{
  width: 100%;
}

.slider-section3 {
  position: relative;
  max-width: 480px;
  border: 1px solid #fafafa;
  padding: 15px 0;
  -webkit-box-shadow: -10px 10px 38px -17px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: -10px 10px 38px -17px rgba(0, 0, 0, 0.36);
  box-shadow: -10px 10px 38px -17px rgba(0, 0, 0, 0.36);

  &--before::before, 
  &--after::after{
      display: none;
      content: "";
      width: 16px;
      height: 24px;
      top: 40%;
      transform: translateY(-60%);
      position: absolute;
  }

  &--before::before{
      background: url(../images/arrow_left.png) no-repeat;
      left: -23px - 24px;
  }

  &--after::after{
      background: url(../images/arrow-right.png) no-repeat;
      left: 420px + 24px;
  }

  &__content{
    position: relative;

    &--before::before {
      position: absolute;
      display: none;
      content: "[001]";
      padding: 1px 1px 1px 2px;
      font-family: 'Righteous', sans-serif;
      font-weight: 400;
      font-size: 16px;
      letter-spacing: 2px;
      color: #fff;
      background-color: $orange-color;
      top: 20px;
      left: -45px;
      transform: rotate(-90deg);
    }
  }
}
.container {
  text-align: left;
}


@media(min-width: 768px) {
  .container {
    display: flex;
  }

  .headline {
    font-size: 55px;
    text-align: left;
  }

  .section3-wrapper{
    flex-direction: row;
  }

  .photo-wrapper{
    width: 30%;
  }

  .slider-wrapper-section3{
    width: 50%;
  }

  .slider-section3{

    padding: 55px 0 39px 49px;

    &__content{

      &--before::before{
        display: block;
      }
    }
  }
}

@media (min-width: 850px){

  .slider-section3{

    &--before::before,
    &--after::after{
      display: block;
    }
  }

}