/*
   Import partials below
*/
@import './normalize';
@import './fonts';
@import './header';
@import './contacts';
@import './map';
@import './form';
@import './fm.revealator.jquery.min';

html {
  font-size: 16px;
}

body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
