/*
   Import partials below
*/
@import './normalize';
@import './fonts.scss';
@import './variables.scss';
@import "./section-7.scss";

//  Styles

*{
     box-sizing: border-box;
     margin: 0;
     padding: 0;
};

